@import "../../styles/globals.scss";

.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  align-items: center;
  justify-content: center;

  .mainCol {
    margin: $space-lg;
  }

  .back {
    .backButton {
      font-family: $linkFont;
      background: white;
      color: $subTextBlack;
      border: none;
      font-weight: 600;
      font-size: $subtitle;
      display: flex;
      align-items: center;
      padding: 0;
      margin: $space-sm 0 $space-xs 0;
      cursor: pointer;
    }
  }

  .topInput {
    margin-bottom: $space-lg;
  }

  .button {
    background-color: $involvedBlue;
    color: white;
    padding: $space-sm $space-lg;
    margin-left: $space-sm;
    border-radius: $space-xxs;
    border: none;
    cursor: pointer;

    &:active {
      transform: scale(0.98);
    }
  }

  .sendButton {
    display: flex;
    justify-content: center;

    .button {
      align-self: center;
      width: 250px;
    }
  }
}
