@import '../../styles/globals.scss';

.input {
	display: flex;
	flex-direction: column;
	margin: $space-sm 0;

	label {
		font-size: $label;
		color: $subTextBlack;
		font-family: $primaryHeaderFont;
		padding-bottom: $space-xxs;
	}

	input {
		width: 250px;
		border-radius: 5px;
		border: 1px solid $udGrey;
		padding: $space-sm;
	}

	.upload {
		display: flex;
	}

	textarea {
		overflow-y: auto;
		padding: $space-sm;
		border-radius: 5px;
		border: 1px solid $udGrey;
	}
}