@import '../../../styles/globals.scss';

.container {
	color: $textBlack;
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	padding: $space-lg $space-xl;
	margin: $space-md auto;

	@include for-phone-only {
    flex-direction: column;
    align-items: center;
    padding: $space-lg;
    margin: 0;
	}

	@include for-tablet-up {
    padding: $space-lg;
    margin: $space-md auto;  
	}

	@include for-desktop-up {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: $space-lg;
    margin: $space-md auto;  
	}

	@include for-large-up {
	}

	article {
		width: 550px;

		@include for-phone-only {
			width: 100%;
		}


	@include for-tablet-up {
    padding: $space-sm;
    margin: $space-xs auto;  
	}

		@include for-desktop-up {
      padding: $space-lg;
      margin: $space-md auto;    
		}
	}

	h2 {
		align-self: center;
		font-family: $primaryHeaderFont;
	}

	.about {
		font-size: 1.2rem;
		text-align: justify;
		width: 600px;
		align-self: center;

		strong {
			font-weight: bold;
		}
	}

	p {
		font-family: $primaryTextFont;
		color: $subTextBlack;
		line-height: 1.5;
		text-align: justify;
		padding: $space-sm 0;
	}

	h3 {
		align-self: flex-start;
		font-family: $primaryHeaderFont;
		font-weight: bold;
		padding-top: $space-sm;
	}

	a {
		color: $involvedBlue;
		font-family: $linkFont;
		align-self: flex-end;
		margin-bottom: $space-xxs;
	}

	ul {
		font-family: $secondaryHeaderFont;
		align-self: center;
	}
}
