@import '../../../styles/globals.scss';

.container {
	color: $textBlack;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $space-xxl 0 $space-lg;

  h3 {
    font-family: $primaryHeaderFont;
    font-weight: bold;
  }

  .social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    .icons {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      color: $involvedBlue;
      font-size: 1.5rem;
  
      .icon {
        background-color: $lightenedBlue;
        color: $involvedBlue;
        padding: $space-xs $space-sm $space-xxxs;
        border-radius: 25px;
        margin: $space-lg $space-xs;
      }
    }
  }
  
}