@import '../../../styles/theme.module.scss';

.container {
	background-color: $udGrey;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 5px 15px 5px 75px;

    .image {
        cursor: pointer;
    }

	.navigation {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 50%;
	}

	.navigationLinks {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		align-items: center;
		width: 65%;

		a {
			font-family: $openSans;
			font-size: 1rem;
			color: $textBlack;
			text-decoration: none;
		}
	}

	.getInvolvedButton {
		background-color: $udGrey;
		color: $involvedBlue;
		border: 1px solid $involvedBlue;
		border-radius: 5px;
		padding: 10px 25px;
		font-size: 1rem;
		font-family: $openSans;
		text-decoration: none;
	}
}
