@import '../../../styles/theme.module.scss';

.container {
	.imageContainer {
		.border_type1 {
			position: fixed;
			margin-left: 10px;
			border: 1px solid crimson;
			border-radius: 45% 55% 62% 38% / 41% 44% 56% 60%;
			height: 200px;
			width: 200px;
		}

		.image_type1 {
			background-image: url('https://images.unsplash.com/photo-1589729132389-8f0e0b55b91e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mjd8fGhlYWRzaG90fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
			background-position: cover;
			background-size: cover;
			border-radius: 45% 55% 62% 38% / 41% 44% 56% 60%;
			height: 200px;
			width: 200px;
		}

		.border_type2 {
			position: fixed;
			margin-left: 10px;
			border: 1px solid dodgerblue;
			border-radius: 85% 55% 39% 81% / 60% 91% 44% 73%;
			height: 200px;
			width: 200px;
		}

		.image_type2 {
			background-image: url('https://images.unsplash.com/photo-1603871165848-0aa92c869fa1?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjF8fGhlYWRzaG90fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
			background-position: cover;
			background-size: cover;
			border-radius: 85% 55% 39% 81% / 60% 91% 44% 73%;
			height: 200px;
			width: 200px;
		}

		.border_type3 {
			position: fixed;
			margin-left: 10px;
			border: 1px solid lawngreen;
			border-radius: 59% 41% 55% 45% / 48% 28% 72% 52%;
			height: 200px;
			width: 200px;
		}
		.image_type3 {
			background-image: url('https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGhlYWRzaG90fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
			background-position: cover;
			background-size: cover;
			border-radius: 59% 41% 55% 45% / 48% 28% 72% 52%;
			height: 200px;
			width: 200px;
		}

		.border_type4 {
			position: fixed;
			margin-left: 10px;
			border: 1px solid mediumslateblue;
			border-radius: 78% 63% 30% 98% / 18% 94% 26% 73%;
			height: 200px;
			width: 200px;
		}
		.image_type4 {
			background-image: url('https://images.unsplash.com/photo-1617037448248-6bd7b4a0d038?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGhlYWRzaG90fGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
			background-position: cover;
			background-size: cover;
			border-radius: 78% 63% 30% 98% / 18% 94% 26% 73%;
			height: 200px;
			width: 200px;
		}
	}
}
