@import '../../../styles/globals.scss';

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: center;
	gap: $space-xl;
	background-image: url("/images/testimonial-background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	padding: $space-xl;
	// height: 400px;
}
