@import '../../styles/globals.scss';

.container {
	display: flex;
	flex-direction: row;

	@include for-phone-only {
		flex-direction: column-reverse;
	}

	@include for-tablet-up {
		flex-direction: column-reverse;
	}

	@include for-desktop-up {
		flex-direction: row;
	}

	.signupContainer {
    width: 50%;
		color: $textBlack;
		background-color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding: $space-xl;
		margin-bottom: $space-xl;

  
	@include for-phone-only {
		width: 100%;
    padding: $space-xl 0;
	}

  
	@include for-tablet-up {
		width: 100%;
    padding: $space-xl 0;
	}

	@include for-desktop-up {
		width: 50%;
	}


		h3 {
      align-self: center;
			color: $udBlack;
			font-weight: bold;
			font-family: $primaryHeaderFont;
			padding-bottom: $space-sm;
			font-size: $f3;
      text-align: center;
		}
		p {
      text-align: center;
			color: #8692a6;
			font-family: $primaryTextFont;
			font-size: 22px;
			padding-bottom: $space-sm;
		}
		.information {
			margin-top: $space-xxl;
		}

		.form {
			background-color: white;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: space-around;
			padding: $space-xxs;
			border-radius: 5px;
			margin: 0 auto;
			margin-top: $space-sm;
			width: 70%;

			.icon {
				color: $involvedBlue;
				font-size: 1.4rem;
			}

			.inputContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 80%;

				.input {
					outline: none;
					border: 1px solid $subTextBlack;
					font-family: $primaryTextFont;
					font-size: 1rem;
					color: $subTextBlack;
					border-radius: 5px;
					width: 100%;
					padding: $space-sm $space-xs;
				}

				input::placeholder {
					color: $subTextBlack;
					font-family: $primaryTextFont;
					font-size: $f5;
				}
				label {
					align-self: flex-start;
					font-size: $f4;
					color: $subTextBlack;
					padding: $space-xxs 0;
					font-family: $primaryTextFont;
				}
			}
			.submit {
				outline: none;
				border: none;
				background-color: #1565d8;
				padding: $space-xxs;
				color: #fff;
				font-family: $linkFont;
				border-radius: 5px;
				width: 80%;
				margin-top: $space-lg;
				font-size: $f4;
				font-weight: 600;
			}
		}

		a {
			padding: 0 $space-xs;
			color: $textBlack;
			font-weight: bold;
			font-family: $linkFont;
		}

		.donate {
			margin-top: $space-lg;
		}
	}
}
