@import '../../styles/globals.scss';

.container {


    .title {
        color: green;
        text-align: center;
    }

    .testimonialContainer {
        width: 100%;
        border: $udSecondaryOrange 3px solid;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: $space-xl;

        p {
            padding: $space-xl;
            justify-content: space-between;
            border: black 3px solid;
            border-radius: 10px;
        }
    }
}


@media screen and (max-width: $md) {
    .testimonialContainer {
        flex-wrap: wrap;
    }
}