@import '../../styles/globals.scss';

.container {


    .title {
        color: $udOrange;
        text-align: center;
    }

    .testimonialContainer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: $space-xl;

        .testimonial {
            padding: $space-xl;
        }
    }
}


@media screen and (max-width: $md) {
    .testimonialContainer {
        flex-wrap: wrap;
    }
}