@import '../../styles/globals.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 $space-xl $space-xl;

    .featured {
        width: 100%;
    }
    .previewCards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $space-sm;
        margin-bottom: $space-md;
    }
    .button {
        background-color: $involvedBlue;
        color: white;
        padding: $space-sm $space-lg;
        margin-left: $space-sm;
        border-radius: $space-xxs;
        border: none;
        cursor: pointer;
    
        &:active {
          transform: scale(0.98);
        }
      }
}