@import '../../../styles/globals.scss';

.container {
	background-color: $menteeBlue;
	color: $textBlack;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: $space-xxl;

	@include for-phone-only {
		flex-direction: column;
		align-items: center;
	}

  @include for-tablet-up {
    padding: $space-lg;
  }

	@include for-desktop-up {
		height: 650px;
    padding: $space-xxl;
	}

	@include for-large-up {
		height: 650px;
	}

	.text {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 40%;
		padding: $space-md;

		@include for-phone-only {
			width: 100%;
		}

    @include for-tablet-up {
      width: 70%;
      padding: $space-lg;
    }

		@include for-desktop-up {
      width: 60%;
      padding: $space-xl;
		}

		@include for-large-up {
      width: 50%;
		}

		h3 {
			text-align: justify;
			font-family: $primaryHeaderFont;
			font-weight: bold;
			padding: 0 0 $space-md;
		}

		p {
			text-align: justify;
			font-family: $primaryTextFont;
			color: $subTextBlack;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}

	.image {
		background-image: url('https://images.unsplash.com/photo-1521737451536-00a86f630f3e?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzN8fGRldmVsb3BlcnN8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
		background-position: center;
		background-size: cover;
		width: 40%;

		@include for-phone-only {
			visibility: hidden;
		}

    @include for-tablet-up {
      width: 30%;
      height: 200px;
    }

		@include for-desktop-up {
      width: 40%;
      height: 300px;
		}

		@include for-large-up {
      width: 50%;
		}
	}
}
