@import '../../../styles/globals.scss';

.container {
    background-color: $udGrey;
    color: $textBlack;
    font-family: $linkFont;
    display: flex;
    flex-direction: column;
}

.content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: $space-xxl $space-xl;
}

.social {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-start;

  .logo {
    padding-left: $space-xs;
    height: 60px;
    width: 60px;
    align-self: flex-start;
  }

  .icons {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .icon {
      background-color: $lightenedBlue;
      color: $textBlack;
      padding: $space-xs $space-sm $space-xxxs;
      border-radius: 25px;
    }
  }

  p {
    margin: $space-md 0;
  }
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 65%;

  .navSect {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h4 {
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: $space-sm;
    }

    a {
        margin: $space-xs 0;
        color: $textBlack;
        text-decoration: none;
    }

  }
}

.copyright {
    align-self: center;
    padding-bottom: $space-lg;
}
