@import '../../styles/globals.scss';

.container {
	display: flex;
	flex-direction: column;
	padding: $space-xl;
	color: $textBlack;

	@include for-phone-only {
		padding: $space-md;
		}

		@include for-tablet-up {
			padding: $space-lg;
		}

		@include for-desktop-up {
			padding: $space-xl;
		}

		@include for-large-up {
			padding: $space-xl;
		}

	h2 {
		font-family: $primaryHeaderFont;
		font-weight: bold;
	}

	.about {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		
		@include for-phone-only {
			flex-direction: column;
		}

		@include for-tablet-up {
			flex-direction: column;
		}

		@include for-desktop-up {
			flex-direction: column;
		}

		@include for-large-up {
			flex-direction: row;
		}


		.aboutText {
			display: flex;
			flex-direction: column;
			padding: $space-md;

			.mainList {
				list-style-type: disc;
				
				li {
					font-size: $listItem;
					font-family: $secondaryTextFont;
					padding: $space-xs 0;
				}
				
				.subList {
					padding: $space-xxs $space-lg;
					list-style-type: square;
					
					li {
						padding: $space-xxs;
					}
				}
			}
		}

		.aboutImage {
			padding: $space-xl;
			display: flex;
			justify-content: center;

			@include for-phone-only {
			padding: 0;
			}
	
			@include for-tablet-up {
				padding: 0;
			}
	
			@include for-desktop-up {
				padding: $space-lg;
			}
	
			@include for-large-up {
				padding: $space-xl;
			}

			img {

				@include for-phone-only {
					height: auto;
					width: 80%;
					margin: 0 auto;
					}
			
					@include for-tablet-up {
						padding: $space-lg;
					}
			
					@include for-desktop-up {
						padding: $space-xl;
					}
			
					@include for-large-up {
						padding: $space-xl;
					}
		
			}
	
		}
	}
}
