// colors
$udGrey: #D4D4D4;
$involvedBlue: #1565D8;
$lightenedBlue: rgba(45, 117, 220, 0.3);
$textBlack: #183B56;
$subTextBlack: #5A7184;
$statsPink: rgba(248, 157, 99, 0.4);
$menteeBlue:  rgba(45, 117, 220, 0.3);

// fonts
$raleway: 'Raleway', sans-serif;
$openSans: 'Open Sans', sans-serif;
$sourceSans: 'Source Sans Pro', sans-serif;
$josefinSans: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$roboto: 'Roboto', sans-serif;
 