// colors
$udGrey: #D4D4D4;
$involvedBlue: #1565D8;
$lightenedBlue: rgba(45, 117, 220, 0.3);
$textBlack: #183B56;
$subTextBlack: #5A7184;
$statsPink: rgba(248, 157, 99, 0.4);
$menteeBlue:  rgba(45, 117, 220, 0.3);

// fonts
$raleway: 'Raleway', sans-serif;
$openSans: 'Open Sans', sans-serif;
$sourceSans: 'Source Sans Pro', sans-serif;
$josefinSans: 'Josefin Sans', sans-serif;
$quicksand: 'Quicksand', sans-serif;
$roboto: 'Roboto', sans-serif;

// header sizes (map to h1 h2 h3 h4 p subtitle)
$f1: 36px;
$f2: 30px;
$f3: 24px;
$f4: 21px;
$p: 18px;
$subtitle: 16px;

// breakpoint map

$small: 480px;
$medium: 600px;
$large: 960px;

$breakpoint-map: (
  'small': $small,
  'medium': $medium,
  'large': $large,
);
