@import '../../styles/globals.scss';

.container {
	padding: $space-md;
	width: 30%;

	.quotation_mark {
		max-width: 15%;
	}

	.header {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		margin: 0 0 $space-lg 0;
	}

	.author {
		display: flex;

		&Image {
			object-fit: cover;
		}

		&Info {
			display: flex;
			flex-direction: column;
		}
	}
}
